{% extends 'PlastikaFrontendBundle:Layout:admin.html.twig' %}

{% block title %}Создание шоу-программы{% endblock %}

{% block body %}
   <div class="container">
      <h2>Создание шоу-программы</h2>
   </div>
   <div class="container">
         <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
               <form class="form-horizontal col-md-8" method="post" {{ form_enctype(form) }}>
                  {{ form_row(form.title, {
                      label: 'Заголовок'
                  }) }}
                  {{ form_row(form.fullText, {
                      label: 'Описание'
                  }) }}
                  {{ form_row(form.price, {
                      label: 'Цена'
                  }) }}

                  <button class="btn btn-success" type="submit">Сохранить</button>
                  <a href="{{path('adminshows')}}" class="btn btn-danger">Назад</a>
              </form>
            </div>
         </div>
      </div>
{% endblock %}