{% extends 'PlastikaFrontendBundle:Layout:admin.html.twig' %}

{% block title %}Редактирование достижения{% endblock %}

{% block body %}
    <div class="container">
      <h2>Редактирование достижения</h2>
   </div>
   <div class="container">
         <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
               <form class="form-horizontal col-md-8" method="post" {{ form_enctype(form) }}>
                  {{ form_row(form.title, {
                      label: 'Заголовок'
                  }) }}
                  {{ form_row(form.fullText, {
                      label: 'Описание'
                  }) }}
                  {{ form_row(form.achieved, {
                      label: 'Дата'
                  }) }}
                  
                  {% set i = 0 %}
                  <div class="images" data-prototype="{{ form_widget(form.images.vars.prototype)|e }}">
                     {% for image in form.images %}
                     {% if achieve.images[i].path %}
                        <img src="/{{achieve.images[i].getWebPath() }}" width="100px" />
                     {%endif%}
                       {{ form_row(image.image) }}
                       {% set i = i + 1 %}
                     {% endfor %}
                  </div>
                  
                  <div class="video" data-prototype="{{ form_widget(form.video.vars.prototype)|e }}">
                     {% for movie in form.video %}
                       {{ form_row(movie.url) }}
                     {% endfor %}
                  </div>

                  <button class="btn btn-success" type="submit">Сохранить</button>
                  <a href="{{path('adminachieves')}}" class="btn btn-danger">Назад</a>
              </form>
            </div>
         </div>
      </div>
{% endblock body %}