{% extends 'PlastikaFrontendBundle:Layout:base.html.twig' %}

{% block title %}Хореографы{% endblock %}

{% block body %}
<div class="container">
   <h2>Хореографы</h2>
   <div class="row coaches">
      <div class="col-lg-3 col-md-3 col-sm-3">
         <a href="{{ path('coach') }}">
            <div class="col-lg-6 col-md-6 col-sm-6">
               <img alt="" src="http://placehold.it/100x100" class="img-circle img-responsive img-center">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
               <h3>Карпова Марина</h3>
               <ul>
                  <li>Pole-dance</li>
                  <li>Растяжка</li>
               </ul>
            </div>
         </a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
         <a href="{{ path('coach') }}">
            <div class="col-lg-6 col-md-6 col-sm-6">
               <img alt="" src="http://placehold.it/100x100" class="img-circle img-responsive img-center">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
               <h3>Карпова Марина</h3>
               <ul>
                  <li>Pole-dance</li>
                  <li>Растяжка</li>
               </ul>
            </div>
         </a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
         <a href="{{ path('coach') }}">
            <div class="col-lg-6 col-md-6 col-sm-6">
               <img alt="" src="http://placehold.it/100x100" class="img-circle img-responsive img-center">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
               <h3>Карпова Марина</h3>
               <ul>
                  <li>Pole-dance</li>
                  <li>Растяжка</li>
               </ul>
            </div>
         </a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
         <a href="{{ path('coach') }}">
            <div class="col-lg-6 col-md-6 col-sm-6">
               <img alt="" src="http://placehold.it/100x100" class="img-circle img-responsive img-center">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
               <h3>Карпова Марина</h3>
               <ul>
                  <li>Pole-dance</li>
                  <li>Растяжка</li>
               </ul>
            </div>
         </a>
      </div>
  </div>
  <div class="row coaches">
      <div class="col-lg-3 col-md-3 col-sm-3">
         <a href="{{ path('coach') }}">
            <div class="col-lg-6 col-md-6 col-sm-6">
               <img alt="" src="http://placehold.it/100x100" class="img-circle img-responsive img-center">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
               <h3>Карпова Марина</h3>
               <ul>
                  <li>Pole-dance</li>
                  <li>Растяжка</li>
               </ul>
            </div>
         </a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
         <a href="{{ path('coach') }}">
            <div class="col-lg-6 col-md-6 col-sm-6">
               <img alt="" src="http://placehold.it/100x100" class="img-circle img-responsive img-center">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
               <h3>Карпова Марина</h3>
               <ul>
                  <li>Pole-dance</li>
                  <li>Растяжка</li>
               </ul>
            </div>
         </a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
         <a href="{{ path('coach') }}">
            <div class="col-lg-6 col-md-6 col-sm-6">
               <img alt="" src="http://placehold.it/100x100" class="img-circle img-responsive img-center">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
               <h3>Карпова Марина</h3>
               <ul>
                  <li>Pole-dance</li>
                  <li>Растяжка</li>
               </ul>
            </div>
         </a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
         <a href="{{ path('coach') }}">
            <div class="col-lg-6 col-md-6 col-sm-6">
               <img alt="" src="http://placehold.it/100x100" class="img-circle img-responsive img-center">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
               <h3>Карпова Марина</h3>
               <ul>
                  <li>Pole-dance</li>
                  <li>Растяжка</li>
               </ul>
            </div>
         </a>
      </div>
  </div>
   <div class="row coaches">
      <div class="col-lg-3 col-md-3 col-sm-3">
         <a href="{{ path('coach') }}">
            <div class="col-lg-6 col-md-6 col-sm-6">
               <img alt="" src="http://placehold.it/100x100" class="img-circle img-responsive img-center">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
               <h3>Карпова Марина</h3>
               <ul>
                  <li>Pole-dance</li>
                  <li>Растяжка</li>
               </ul>
            </div>
         </a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
         <a href="{{ path('coach') }}">
            <div class="col-lg-6 col-md-6 col-sm-6">
               <img alt="" src="http://placehold.it/100x100" class="img-circle img-responsive img-center">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
               <h3>Карпова Марина</h3>
               <ul>
                  <li>Pole-dance</li>
                  <li>Растяжка</li>
               </ul>
            </div>
         </a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
         <a href="{{ path('coach') }}">
            <div class="col-lg-6 col-md-6 col-sm-6">
               <img alt="" src="http://placehold.it/100x100" class="img-circle img-responsive img-center">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
               <h3>Карпова Марина</h3>
               <ul>
                  <li>Pole-dance</li>
                  <li>Растяжка</li>
               </ul>
            </div>
         </a>
      </div>
  </div>
</div>
{% endblock %}